# Example environment for Agrofel Chatwoot Dashboard
CHATWOOT_URL=https://chatwoot.agrofel.com.br
CHATWOOT_ACCOUNT_ID=
USER_ACCESS_TOKEN=
BRICS_URL=
BRICS_API_TOKEN=
REDIS_URL=redis://chatwoot_redis:6379
FRONTEND_URL=http://localhost:3010
